/* MAIN
-------------------------------------------*/
* { margin: 0; padding: 0; }

.content ol, .content ul{
	margin-left: 40px;
}
#content ol, #content ul{
	line-height:18px;
}
.partners img {
width:208px;

margin: 0 20px 10px;
}

.box {
	text-align:center;width:175px;float:left;
	margin:20px 0px 20px 23px ;

}
.box2 {
	text-align:center;width:175px;float:left;
	margin:20px 0px 20px 85px ;

}
.box h4, .box2 h4{
	font-size:16px;

}

#content .slider p{padding: 0}
#content .slider h3{
	margin-bottom: 5px;
    border-bottom: 1px dotted #c3b391;
    padding: 5px;
}


.sidebar .grafic {
margin-left:5px;
background-color: #d7c8b1;
border-collapse: separate;
border-spacing: 1px;
}

.sidebar .grafic td {
padding:2px;
	background: #f1e6ce url(images/default.jpg);
}


#content .entry ul {
margin-left:10px;
}


#content .entry ul li {
margin: 10px 0;
}










#content table,table tr,table td {border:none}
#content table{margin :10px; border-spacing:1px;  background-color: #75552b;	border-collapse: separate;}
#content td {
	background: #f1e6ce url(images/default.jpg);
}
#content td {
	padding: 5px;
}
#content td p{
	padding: 0;
}
.telefon{
	display: inline-block;
	position: relative;
	float:right;
	margin:3px 0 0 30px;
	width: 250px;
	text-align:center;

	font-family: 'Times New Roman',Times,serif;
	font-style: italic;
	font-size:24px;
	font-weight:bold;
	color: #443927;
}

.deviz{
	float:right;
	position: relative;
	top: 32px;
	text-align:right;
	margin-right: 40px;
	font-family: 'Times New Roman',Times,serif;
	font-style: italic;
	font-size:22px;
	color: #443927;
	font-weight:bold;

}
.framed, .small-framed, .framed img, .small-framed img { display: block; }
.right-margin { margin-right: 24px; }
.framed img {
	border:1px solid #e2e2e2;
	background:#fff;
	padding:5px;
}
.aligncenter .framed img { display:inline;}
.small-framed img {
	border:1px solid #e2e2e2;
	background:#fff;
	padding:3px;
}

.left-shadow {float:left;margin: 0 10px 0 0;
			  background:transparent url("images/medium_frame.png") no-repeat bottom left;
			  padding-bottom: 8px;
			  display:block;
}






.current{font-weight:bold}
.padding15{
	padding: 15px;
}
.entry{padding: 10px 0 30px 0;}
#content .entry p {padding:0px;}

#content .mini_title{
    font-weight:  bold;
    letter-spacing: 1px;
    font-size: 14px;
    border-bottom: 1px dotted #c3b391;
    padding: 10px;
	margin-bottom: 10px;
}
#content .mini_title a{
	text-decoration: none;

}
#content .mini_title a:hover{
	text-decoration: underline;

}




.readon:hover{
	background-color: #483e37;
	text-decoration: none;
	color: white;

}

.readon{

	padding:5px 10px;
	margin: 0 18px 0 0;
	width:160px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;

	border-radius: 6px;


}


html, body {
	font : normal 12px tahoma, sans-serif;
	color:#3A180D;
	margin:0;
	padding:0;
	line-height:130%;
	//   text-shadow: 0 1px 0 #dcd2bd;
    border-top: 1px solid #BCA881;
	min-width: 1200px;

}
html, body {
	font : normal 12px tahoma, sans-serif;
}

img {border:none}

ul {
	list-style: none;
}

#content ul {
	list-style: disc;
}
.sidebar ul, #content ul {
	margin-bottom:5px;
}

.sidebar ul li{

	margin-left:15px;
}
.entry ul li{
	margin: 5px 15px;
}
a {
	color:#2e0b00;
}

a:hover {
	text-decoration:none;
	color:#75552b;
}

h1, h2, h3 {
	font-size:24px;
	color:#2e0b00;
	font-weight:bold;
	padding:10px 0 5px;
	//	text-transform:capitalize;
}

h2 {
	font-size:18px;

	padding:5px 0 0;
}



h3 {
	font-size:14px;
	padding:5px 0 0;
}

/* LAYOUT
--------------------------------------------------*/
.right{float: right}



#mainWrapper {
	background: #cbae7c url(images/main_bg.jpg) 0 0 repeat-x;
	border-top: 1px solid #ccbc9d;
}


#header {
	height:90px;
	position:relative;
	margin-bottom:20px;
}
#top-banner {
	position:relative;
}
#top {
	margin: 10px 0 1px;
	position:relative;
}
#top-today{
	color:#75552b;
	float: left;
	width: 250px;
	text-align: center;
	font-size: 11px;
}
#top-changed{
	float: right;
	width: 260px;
	text-align: center;
	font-size: 11px;
}
#top-braadcrumbs{
	float: left;
	padding-left: 25px;
	font-size: 11px
}

#top-braadcrumbs a,  .breadcrumb-current{
	color:#75552b;
	display:inline-block;
	text-decoration:none;
	margin:0;
	font-size: 11px
}

#top-braadcrumbs a:hover{
	color:#2e0b00;
}


#footer {
	//text-shadow: 1px 1px 1px #000;
	background:#000;
	border-top:1px solid #20120d;
	color: #aa9363;
}

#footer2 {
	border-top:solid 1px #20120d;
	background:#0c0300;
	color: #aa9363;
	text-align: center;
	padding:15px;
}

#footer a {
    color: #aa9363;
}


#innerFooter {
	margin:0 auto;
	height:40px;
	padding-top:20px;
	line-height:25px;
	padding-left:10px;
}

/* my ELEMENTS
--------------------------------------------------*/



.sidebar, #content {background: #f1e6ce url(images/default.jpg);
					margin-bottom:20px;
					border: 1px solid #6b4318;
					
	border-radius: 12px;
					-moz-border-radius:12px;
					-webkit-border-radius: 12px;
behavior: url(border-radius.htc);
}


.sidebar{
	padding-bottom:30px;
}







.sidebar h4, #content h1 {
    font-weight:  bold;
    letter-spacing: 1px;
    font-size: 14px;
    border-bottom: 1px dotted #c3b391;
    padding: 10px;
	margin: 0 10px 10px 10px;
	text-transform: uppercase;
}
.sidebar ul li a {
	display:block;
	padding:6px 0 8px 14px;
	text-decoration:none;
	margin:0;
    background: url(images/side-arrow.gif) no-repeat left center;
}





.mar1 {	margin-bottom: 6px;color:#aa9363; }
.mar2 {	margin-right: 10px; }
/* HEADER ELEMENTS
--------------------------------------------------*/
/* -- logo --*/


#logo {
    width: 307px;
	margin: 0 auto 0 auto;
	float: left;
	text-align: center;
}

#logo span {

	margin-top: -1px;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 2px;
}

#logo a, #logo a:hover{
	background:url(images/logo.png) 0 0 no-repeat;
	width:307px;
	height:70px;
	text-indent:-9000px;
	display:block;
	text-decoration:none;
}
#logo2 {
	padding:0;
	float: left;
	margin-top: 27px;
	margin-left: 15px;
}

#logo2 a, #logo2 a:hover{
	background:url(images/dt.png) 0 0 no-repeat;
	width:143px;
	height:40px;
	text-indent:-9000px;
	display:block;
	text-decoration:none;
}

#topMenu {
	height: 90px;
	float: right;
}

#topMenu li {text-align:center;
			 float:left;
			 height: 90px;
			 padding: 0;
			 background:none;
}

#topMenu li a {
	font-size:15px;
	display: block;
	height: 55px;
	padding:35px 15px 0 15px;
	color:#2e0b00;
	text-decoration:none;
	font-weight:bold;
	//	text-transform:uppercase;
}

#topMenu li:hover{
	background:url(images/menu-bg.png) repeat-x bottom;
}

#topMenu li a:hover {
    color:#5f2311;
    text-decoration: underline;
}

#topMenu li.current_page_item{
	color:#5f2311;
	text-decoration: underline;
	background:url(images/menu-bg.png) repeat-x bottom;
}

#topMenu li.current_page_item a{
    color:#5f2311;
    text-decoration: underline;
}

/* Featured

--------------------------------------------*/
#featured {
    margin: 30px 0;
    color:#2e0b00;
    line-height: 24px;
	//    text-shadow: 0 1px 0 #d4c7ad;
}
#featured h2 {
    color:#5f2311;
    font-size: 35px;
    line-height: 35px;
    width:625px;
    float: left;
    font-weight: normal;

}

#featured p {
    margin: 15px 0;
    font-size: 16px;
    color: #2e0b00;
    width:600px;
    float: left;
    font-weight: normal;
    line-height: 22px;
}

.buttons {
    float: right;
    width:275px;

}

.buttons a {
    border: 0;
}

.buttons img {
    display: block;
    margin: 10px 0;
    border: 0;
    -moz-opacity:.80;
    opacity:.80;
    float: right;
}

.buttons img:hover {
    -moz-opacity:1;
    opacity:1;
}

.nd_pagination {
	height: 20px;
	margin-bottom: 20px;
}

.nd_pagination li {
	display: inline-block;
	padding: 2px;
	width: 16px;
	text-align: center;
	background: #BEA882 ;
    border: 1px solid #C3B391;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;

}

.nd_pagination li a{
	text-decoration: none;
	display: inline-block;
	width: 12px;
}


.nd_pagination li.active, .nd_pagination li:hover{
	background: #ab8f5d ;
}

.arrow_pagi {
	float: right;
	padding: 2px 0 0 0;
}

/*threeBoxes
--------------------------------------------*/

#threeBoxes {
    background: #ab8f5d;
    border: 1px solid #bca881;
    border-radius: 6px;
    margin-bottom: 40px;
    -moz-border-radius:6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
}
#threeBoxes h3, #threeBoxes p, #threeBoxes .box a{
	//   text-shadow: 0 1px 0 #bea882;
}

#threeBoxes p{
    color: #3a180d;
    font-size: 13px;
}

#threeBoxes h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    color: #5f2311;
    line-height: 48px;
    margin-bottom: 10px;
}

#threeBoxes .box {
    float: left;
    width: 268px;
    padding: 15px 15px;
    height: 100%;
}

#threeBoxes .box a{
    float: right;
    text-decoration: none;
}

#threeBoxes .box a:hover{
    text-decoration: underline;
}
#threeBoxes .box{
    border-left: 1px solid #bca881;
}

#threeBoxes .box:first-child{
    border-left: 0px solid #bca881;
}


/*CONTENT
--------------------------------------------*/



.sidebar p{margin: 10px}

#content {
	padding-bottom:30px;
    width: 620px;
}

#content p{
	padding: 10px 20px 10px 20px;
    line-height: 150%;
}

.pagetitle {
    padding: 30px 0 10px 0;
    color:#5f2311;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

#footer {
    background: #140500 url(images/section2-bg.png) no-repeat top center;
    border-top: 1px solid #c3b391;
	//    text-shadow: 0 1px 0 #000;
    padding: 20px 0;
}

#footer h2 {
    color: #aa9363;
    font-size: 24px;
    margin: 0 0 20px 0;
	//    text-transform: uppercase;
    font-weight: normal;
    line-height: 48px;
}



#leftcol {

}

#leftcolInner {
	float:left;
}

ul.latestPosts {
	margin-top:10px;
}

ul.latestPosts li {
	padding: 10px 0;
    color: #616161;
}

* html ul.latestPosts li {
	float:left;
	width:100%;

}

ul.latestPosts li a {
    font-size: 18px;
	display:block;
	background:url(images/ico_post.png) 0 4px no-repeat;
	padding:2px 0 6px 20px;
	text-decoration:none;
	margin:0;
    color: #aa9363;
}

ul.latestPosts li a:hover {
	color:#fff;
}

ul.latestPosts li a span.date {
	font-size:10px;
	color:#55220f;

}

#rightcol {

}

#rightcol p.line {
	display:block;
	padding:10px 0;
	margin:0;
}

#rightcol p img {
	vertical-align:middle;
	padding-right:5px;
}

#rightcol .featured {
	margin:10px 0;
}

#rightcol .featured img{
	background:#fff;
	padding:6px;
	border:none;
}

.support {
    background: #0c0300;
    padding: 10px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius: 6px;
    color: #a6905f;
}


/* BLOG 
--------------------------------------------*/
.post ul, .post ol {
    margin:0 20px 20px;
    list-style-image:none;
    list-style-position:outside;
}

.post ul {
    list-style-type:disc;
}

.post ul li, .post ol li {
    padding: 3px 0;
}

.post {
	padding:0 0 5px;
	position:relative;
	margin: 10px 0 20px 0;
}

.post h2 {
	padding-bottom:8px;

}
.post h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
}

.post h3 a{
    text-decoration: none;
}

.post h3 a:hover{
    text-decoration: underline;
}

.post small {
	color:#5f2311;
	display:block;
	padding-bottom:6px;
}

.post p{
    font-size: 12px;
}

.post blockquote {
	padding: 10px 25px;
	margin-bottom: 20px;
	background-color: #BCA57D;
	border-left: 2px solid #C3B391;
}

.post blockquote p {
	margin: 10px 0;
}

.postmetadata {
	color:#5f2311;
	font-size:10px;
    border: 1px solid #c3b391;
    background: #bca57d;
    padding: 5px;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
}

p.postmetadata, .postmetadata a{
    font-size: 11px;
}

.postmetadatawide {
	color:#5f2311;
	border: 1px solid #c3b391;
	border-right: 0;
	border-left: 0;
	background: #bca57d;
	padding: 10px 20px;
	margin: 0 -20px;
	width: 585px;
}

p.postmetadatawide, .postmetadatawide a{
    font-size: 12px;
}

.entry {
	padding:15px;
}

.post .entry img.thumb, .entry img.thumb {
	border:1px solid #c3b391;
	background: #bca57d;
	padding:7px;
}

h2 a{
	text-decoration:none;
	color:#555;
	padding:10px 0;

}

h2 a:hover {
	color:#333;
}






/* Comments */

h3#comments {
	padding:10px 0 15px;
}

.navigation {
	font-weight:bold;
}

.navigation div {
	float:left;
	margin-right:20px;
}


ul.commentlist {
	border-top:4px solid #bca57d;
	padding: 10px 0;
}

ul.commentlist li {
	text-transform:none;
}

ul li.comment {
	padding: 10px;
	margin-bottom:5px;
	display:block;
	border:1px solid #bca57d;
}

ul .children {
    margin-left: 30px;
}

.comment-entry {
    position: relative;
}

.avatar img {
	border:1px solid #bca57d;
	float:left;
	margin-right:15px;
	padding:2px;
}

.reply {
    position: absolute;
    top: -20px;
    right: 0;
}

.comment .meta {
	font-size:10px;
}

.comment-author {
	font-style:normal;
	font-size:11px;
	padding-left:16px;
}

.comment-author cite {
	font-weight:bold;
	font-style:normal;
}

#respond h2 {
	clear:left;
	padding-top:15px;
}



/* FORMS
-------------------------------------------------*/

form textarea, form input, form button{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	border-radius: 10px;
}


#bron label{
	display:block;
	padding:8px 0 2px 10px;
}
/*
form label, form#commentform label {
	display:block;
	padding:8px 0 2px;
}
*/
form input, form#commentform input, form textarea, form#commentform textarea  {
	border:1px solid #c3b391;
	padding:5px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	width:300px;
}

form textarea, form#commentform textarea {
	width:500px;
}




/* CLEARING
---------------------------------------------------*/
.clearfix:after {
    content: "."; 
    display:block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {
	display: block;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.clear {
	clear: both;
}

.noclear {
	clear: none;
}

